.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-content-wrapper{
    width: 85%;
  }

  &-content {
    display: flex;
    overflow: hidden;
    margin-left: -20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-slide {
    margin-left: 20px;
    flex-shrink: 0;
    flex-grow: 0;

    &-img {
      img {
        width: 100%;
      }
    }
  }
}
