.basic {
  .base-theme-container {
    padding: 20px;
    padding-top: 0;

    .title {
      padding-bottom: 20px;
      color: map-get($colors, 'basic-theme-dark');
      font-weight: 600;
      font-size: 20px;
      display: flex;
      align-items: center;

      &:before, &:after {
        content: '';
        height: 5px;
        width: 5px;
        border-radius: 1px;
        display: block;
        background-color: map-get($colors, 'basic-theme-dark');
      }

      &:before {
        margin-right: 15px;
      }

      &:after {
        margin-left: 15px;
        background-color: map-get($colors, 'basic-theme-primary');
      }
    }
  }
}
