.basic {
  .fixed-btn {
    border: 1px solid map-get($colors, 'basic-theme-primary');
    font-size: 24px;
    font-weight: 400;
    padding: 40px 7px !important;
    background-color: transparent;
    color: map-get($colors, 'basic-theme-dark');

    &:focus {
      outline: none;
    }
  }
}
