.footer {
  border-top: 4px solid map-get($colors, 'gray');
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 112px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;

  &-partners {
    max-width: 100px;
  }

  @include respond-to('phablet') {
    height: 200px;
  }

  .base-container {
    width: 100%;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to('phablet') {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-contact {
    font-size: 12px;
    &-text span {
      display: block;
      font-size: 10px;
    }

    @include respond-to('phablet') {
      margin-top: 20px;

      font-size: 10px;

      &-text span {
        display: block;
        font-size: 9px;
      }
    }
  }
}

.basic {
  .footer {
    &-partners {
      font-size: 14px;
    }

    &-contact {
      font-size: 15px;
      &-text span {
        display: block;
        font-size: 12px;
      }

      @include respond-to('phablet') {
        margin-top: 20px;

        font-size: 10px;

        &-text span {
          display: block;
          font-size: 9px;
        }
      }
    }

  }
}
