.header {
  padding: 20px 0;
  border-bottom: 4px solid map-get($colors, 'gray');

  &-logo {
    @include respond-to('phone') {
      transform: scale(0.5);
      position: absolute;
      top: -30px;
      left: -15px;
    }
  }

  &-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu a {
    @include respond-to('phone') {
      padding: 25px 0 0 0px;
      display: block;
    }
  }
}

.basic {
  .header-menu a {
    font-weight: 600;
    font-size: 18px;
    transition: color 0.2s;
    color: map-get($colors, 'basic-theme-dark') !important;

    @include hover {
      text-decoration: none;
      color: map-get($colors, 'basic-theme-primary') !important;
    }
  }
}
