.header {
  padding: 20px 0;
  border-bottom: 4px solid map-get($colors, 'gray');

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.basic {
  .header-menu a {
    font-weight: 600;
    font-size: 18px;
    transition: color 0.2s;
    color: map-get($colors, 'basic-theme-dark') !important;

    @include hover {
      text-decoration: none;
      color: map-get($colors, 'basic-theme-primary') !important;
    }
  }
}
