.media-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @include respond-to('phone') {
    font-size: 14px;
  }

  &-tagline {
    width: 100%;
    text-decoration: blink;
    font-size: 14px;

    @include respond-to('phone') {
      font-size: 12px;
    }
  }

  &-poster {
    width: 30%;

    @include respond-to('container-width') {
      width: 40%;
    }

    @include respond-to('tablet') {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &-details {
    width: 67%;

    @include respond-to('container-width') {
      width: 57%;
    }

    @include respond-to('tablet') {
      width: 100%;

      margin-top: 30px;
    }

    .rating {
      display: flex;

      .score {
        margin-left: 15px;
      }

      &-vote-count {
        font-size: 13px;

        @include respond-to('phone') {
          font-size: 11px;
        }
      }
    }

    .genres, .countries,{
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;

      .genre, .country, {
        margin-left: 15px;
        font-size: 14px;

        @include respond-to('phone') {
          font-size: 12px;
        }
      }
    }

    .companies {
      display: flex;
      flex-direction: column;
    }

    .company-wrapper {
      display: flex;
      align-items: baseline;

      .company {
        font-size: 14px;
        margin-left: 15px;

        @include respond-to('phone') {
          font-size: 12px;
        }
      }

      .company-img-wrapper {
        width: 40px;

        @include respond-to('phone') {
          width: 25px;
        }
        img {
          width: 100%;
        }
      }
    }

    .budget {
      display: flex;

      &-text {
        margin-left: 20px;
      }
    }

    .status {
      font-size: 14px;

      @include respond-to('phone') {
        font-size: 12px;
      }
    }
  }

  &-details-secondary {
    width: 100%;

    .overview {
      font-size: 15px;

      @include respond-to('phone') {
        font-size: 13px;
      }
    }

    .homepage {
      font-size: 14px;
      text-decoration: underline;
    }
  }
}
