.pagination {
  display: none;
  flex-direction: column;
  align-items: center;

  .nes-btn:not(.pagination-load-more-btn) {
    @include respond-to('phablet') {
      font-size: 12px;
    }

    @include respond-to('small-phone') {
      font-size: 10px;
    }
  }

  &.visible {
    display: flex;
  }

  &.mobile-left-margin {
    @include respond-to('phone') {
      margin-left: -70px;

      .pagination-load-more-btn {
        @include respond-to('phone') {
          width: 90%;
        }
      }
    }
  }

  &-load-more-btn {
    width: 50%;

    @include respond-to('phablet') {
      width: calc(100% - 7px);
      font-size: 16px;
    }

    @include respond-to('phone') {
      font-size: 14px;
    }

  }

  &-pages {
    display: flex;

    &-last, &-first {
      display: flex;
      align-items: flex-end;
      margin-left: 15px;

      @include respond-to('container-width') {
        margin-left: 10px;
      }

      @include respond-to('tablet') {
        margin-left: 5px;
      }

      span {
        display: block;
        margin-right: 15px;

        @include respond-to('container-width') {
          margin-right: 10px;
        }

        @include respond-to('tablet') {
          margin-right: 5px;
          font-size: 10px;
        }

        @include respond-to('phablet') {
          font-size: 8px;
        }
      }
    }

    &-first {
      margin-left: 0;

      span {
        margin-right: 0;
        margin-left: 15px;

        @include respond-to('container-width') {
          margin-left: 10px;
        }

        @include respond-to('tablet') {
          margin-left: 5px;
        }
      }
    }

    &-page-btn {
      margin-left: 15px;

      @include respond-to('container-width') {
        margin-left: 10px;
      }

      @include respond-to('phablet') {
        margin-left: 5px;
      }
    }

    &-prev-btn {
      margin-right: 30px;

      @include respond-to('container-width') {
        margin-right: 20px;
      }

      @include respond-to('phablet') {
        margin-right: 15px;
      }
    }

    &-next-btn {
      margin-left: 35px;

      @include respond-to('container-width') {
        margin-left: 20px;
      }

      @include respond-to('phablet') {
        margin-left: 15px;
      }
    }
  }
}

.basic {
  .pagination {

    &-load-more-btn {
      border-color: map-get($colors, 'basic-theme-primary');
      font-weight: 500;
      transition: all 0.2s;
      color: map-get($colors, 'basic-theme-dark');

      &:focus {
        outline: none;
      }
    }

    &-pages {

      &-last, &-first {
        align-self: center;
        align-items: baseline;

        span {
          color: map-get($colors, 'basic-theme-dark');
        }
      }
    }
  }
}
