.basic {
  .search-input {
    .uk-input {
      height: 48px;
      font-size: 18px;
      border-width: 2px;

      &:focus {
        border-color: map-get($colors, 'basic-theme-primary');
      }
    }
  }
}
