.search-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: transform 0.2s;
  padding-left: 10%;
  transform: scaleY(1);

  @include respond-to('container-width') {
    flex-wrap: wrap;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  &-item  {
    padding-top: 10px;

    &::before {
      color: #f12525 !important;
    }

    a {
      color: black;
      font-size: 15px;
      padding-left: 10px;
      display: block;

      @include respond-to('container-width') {
        font-size: 14px;
      }
    }
  }

  &-wrapper {
    position: relative;
    border-bottom: 3px solid map-get($colors, 'red');
    border-top: 3px solid map-get($colors, 'red');
    margin-top: -35px;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
    max-height: 1000px;


    &.closed {
      max-height: 0px;
      padding: 0;

      .search-navigation {
        transform: scaleY(0);
      }

      .search-navigation-up-btn {
        padding: 2px 5px 2px 3px !important;
        div {
          transform: rotate(180deg);
        }
      }
    }

    .search-navigation-up-btn {
      position: absolute;
      bottom: -20px;
      right: 5px;
      padding: 2px 3px 2px 5px !important;
      background-color: map-get($colors, 'red') !important;
      display: none;

      @include respond-to('container-width') {
        display: block;
      }

      div {
        transition: transform 0.2s;
        transform: rotate(0deg);
      }

      &::after {
        box-shadow: inset -4px -4px map-get($colors, 'red') !important;
      }
    }
  }
}

.basic {
  .search-navigation {
    list-style: none;
    justify-content: space-between;
    padding: 10px 20px;

    @include respond-to('tablet') {
      padding: 5px 20px;
    }

    &-item {
      a {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;
        transition: all 0.2s;

        @include respond-to('tablet') {
          font-size: 15px;
        }

        @include respond-to('small-phone') {
          font-size: 14px;
        }

        @include hover {
          text-decoration: none !important;
          color: map-get($colors, 'basic-theme-primary');

          &::before {
            background-color: map-get($colors, 'basic-theme-dark');
          }
        }

        &::before {
          transition: all 0.2s;
          content: '';
          background-color: map-get($colors, 'basic-theme-primary');
          display: inline-block;
          margin-right: 10px;
          width: 5px;
          height: 5px;
          border-radius: 1px;
        }
      }
    }

    &-wrapper {
      border-width: 2px;

      &.closed {
        .search-navigation-up-btn-img {
          transform: rotate(180deg);
        }
      }

      .search-navigation-up-btn {
        padding: 7px 10px !important;
        font-weight: 900;
        font-size: 16px;
        border: 2px solid map-get($colors, 'basic-theme-primary');
        background-color: white !important;

        &-img g {
          transition: all 0.3s;
          fill: map-get($colors, 'basic-theme-dark') !important;
          stroke: map-get($colors, 'basic-theme-dark');
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
