.sort-select {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-around;

  @include respond-to('tablet') {
    margin: 40px 0;
    justify-content: flex-start;
  }

  &-types {
    display: flex;
    align-items: center;
    margin-left: -20px;

    @include respond-to('tablet') {
      margin-left: 0;
      display: block;
      width: 85%;
    }

    &-item {
      margin-left: 20px;
      border-bottom: 1px solid map-get($colors, 'gray');
      transition: all 0.2s;

      @include respond-to('container-width') {
        font-size: 12px;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          font-size: 15px;
          border-bottom: 3px solid map-get($colors, 'red');
          color: black;

          @include respond-to('container-width') {
            font-size: 13px;
          }
        }
      }

      &.selected {
        font-size: 15px;
        border-bottom: 3px solid map-get($colors, 'red');
        color: black;

        @include respond-to('container-width') {
          font-size: 13px;
        }
      }
    }
  }

  &-order {
    display: flex;
    flex-direction: column;

    @include respond-to('tablet') {
      margin-left: auto;
    }

    .sort-select-order-desc-btn, .sort-select-order-asc-btn {
      font-size: 12px;
      padding: 2px 6px;
    }

    .sort-select-order-desc-btn {
      transform: rotate(90deg);
    }

    .sort-select-order-asc-btn {
      transform: rotate(-90deg);
    }
  }
}
