.not-found {
  background-color: black;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  min-height: 100vh;
  height: 100%;

  &-home-btn {
    color: lawngreen;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-decoration: none !important;

    @include respond-to('phablet') {
      transform: translateY(0);
      top: 30px;
    }

    .brk-btn {
      position: relative;
      background: lighten(aqua, 25%);
      color: #222;
      text-transform: uppercase;
      text-decoration: none;
      border: 0.2em solid aqua;
      padding: 0.5em 0.5em;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 10%;
        background: #222;
        height: 0.3em;
        right: 20%;
        top: -0.21em;
        transform: skewX(-45deg);
        transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 10%;
        background: #222;
        height: 0.3em;
        left: 20%;
        bottom: -0.25em;
        transform: skewX(45deg);
        transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      }

      &:hover {
        &::before {
          right: 80%;
        }
        &::after {
          left: 80%;
        }
      }
    }
  }

  .text {
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
    margin-bottom: 0;
    white-space: pre-wrap;

    &-wrapper {
      padding: 50px;
      min-height: 100vh;
      height: 100%;
      padding-right: 120px;

      @include respond-to('phablet') {
        padding: 20px;
        transition: padding-top;

        &.with-home-btn {
          padding-top: 100px;
        }
      }
    }
  }

  .user {
    form {
      display: flex;
      align-items: center;
    }
    .input {
      border-width: 0px;
      background-color: black;
      color: white;
      font-size: 16px;
      font-family: 'JetBrains Mono', monospace;
      padding-left: 10px;
      width: 100%;
      display: block;
      color: transparent;
      text-shadow: 0 0 0 white;

      &:focus {
        outline: none;
      }
    }
  }
}

.blink_me {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
