.gray {
  color: dimgray;
}

.small-text {
  font-size: 13px;
}

.very-small-text {
  font-size: 11px;
}

.scrollbar::-webkit-scrollbar {
  width: 5px !important;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

.light-border {
  border-width: 3px;
}

.no-border {
  border: none !important;
}

.red {
  color: map-get($colors, 'red');
}
