$breakpoints: (
        'phone':  450px,
        'phablet': 600px,
        'tablet':  768px,
        'container-width': 1200px,
) !default;

$colors: (
        'gray':  #D3D3D3,
        'red': #f12525,
) !default;

$dimensions: (
        'header-height':  112px,
        'footer-height': 112px,
) !default;

