.base-container {
  max-width: 1200px;
  margin: 0 auto;

  @include respond-to('container-width') {
    max-width: 90%;
  }

  @include respond-to('phone') {
    max-width: 95%;
  }
}

.mv-10 {
  margin: 10px 0;
}

.mv-20 {
  margin: 20px 0;
}

.mv-20 {
  margin: 20px 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mt-60-resp {
  margin-top: 60px;

  @include respond-to('phone') {
    margin-top: 35px;
  }
}

.sidebar-page {
  display: flex;
}

.pd-20 {
  padding: 20px;
}

.w-100 {
  width: 100%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.h-190 {
  max-height: 190px;
}

.scrollable-y {
  overflow-y: scroll;
  overflow-x: hidden;
}
